---
import { Image } from 'astro:assets'
import Avatar from '../../src/assets/images/avatar.jpg'
import SocialLink from './ui/SocialLink.astro'

interface Props {
  author: string
  links?: {
    icon: string
    value: string
    url?: string
  }[]
}

const { author, links } = Astro.props
---

<div class="border-solid border-zinc-100 lg:border-r lg:my-20 py-20 sm:px-40 text-center">
  <div class="sticky top-40">
    <div class="flex flex-col items-center gap-4">
      <Image src={Avatar} width="200" height="200" class="rounded-full bg-cover aspect-square object-cover my-8" loading="eager" alt="avatar" />
      <div class="font-bold text-2xl">{author}</div>
      {links?.map(link => <SocialLink icon={link.icon} value={link.value} url={link.url} />)}
    </div>
  </div>
</div>
