---
import type { Project } from '../../../meta.config'
import ProjectDetails from './ProjectDetails.astro'
import Actions from './Actions.astro'

interface Details {
  situation: Project
  task: Project
  actions?: Project[]
  result?: Project
}
interface Props {
  name: string
  is?: string
  details: Details
}

const {
  name,
  is,
  details: { situation, task, actions, result }
} = Astro.props
---

<div>
  <div class="flex justify-between items-center">
    <h3 class="text-2xl font-medium text-gray-600">{name}</h3>
    <span class="font-medium text-gray-600">{is}</span>
  </div>
  <div class="flex flex-col gap-1">
    <ProjectDetails data={situation} />
    <ProjectDetails data={task} />
    {actions?.length && <Actions data={actions} />}
    {result && <ProjectDetails data={result} />}
  </div>
</div>
